.container {
  max-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  @media (min-width: 45em) {
    max-width: 1830px;
  }
}

.home > .container:first-child {
  @media (min-width: 45em) {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1830px;
  }

  padding: 0;
  max-width: 100%;
}

.collection-card {
  position: relative;
  border-radius: 20px;
  color: white;

  /* background: radial-gradient( */
  /*   90.11% 90.11% at 53.98% 32.42%, */
  /*   #ffcfd1 0%, */
  /*   #ff8d91 100% */
  /* ); */
  /**/
  background: radial-gradient(
      54.24% 54.24% at 52.25% 73.5%,
      #ffffff 0%,
      #d7c548 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.collection-card__image {
  font-size: 0;
}

.collection-card__data {
  position: absolute;
  padding: 10px;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.recommended-products,
.new-collection {
  margin-top: 60px;

  @media (min-width: 45em) {
    margin-top: 180px;
  }
}

.new-collection__heading {
  margin-top: 1em;
}

.recommended-products-grid,
.new-collection-grid,
.products-grid,
.collection-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 300px;
  justify-content: center;

  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 290px);
  }
}

:is(.recommended-product) img {
  height: auto;
}

.recommended-product__image-container {
  background-color: #f5f5f5;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
  font-size: 0;
}

:where(.recommended-product__image-container) img {
  border-radius: 20px;
}

.recommended-product__title,
.collection-card__data {
  font-size: clamp(1rem, 0.8711rem + 0.5498vw, 1.5rem);
  font-size: 1.5rem;
}

.recommended-product__price {
  font-size: clamp(1rem, 0.8711rem + 0.5498vw, 1.5rem);
  font-size: 1.5rem;
}

.recommended-products__heading,
.new-collection__heading,
.collection__heading,
.search__heading {
  text-align: center;
  font-size: clamp(1.5625rem, 1.192rem + 1.5808vw, 3rem);
}

.recommended-product__title,
.recommended-product__price,
.recommended-products__heading,
.new-collection__heading,
.collection__heading,
.search__heading {
  color: var(--color-dark, #353535);
  font-weight: 500;
}

.header-menu-mobile a:first-child {
  display: none;
}

.header-menu-desktop {
  gap: 2.9em;
}

.header-menu-item img {
  height: 1.5rem;

  @media (min-width: 45em) {
    height: clamp(0.5rem, 0.2423rem + 1.0997vw, 1.5rem);
  }
}

.header-menu-item {
  display: flex;
  align-items: end;
  line-height: 0.8;
  gap: 0.5em;
  color: var(--color-dark, #353535) !important;
  font-size: clamp(0.5rem, 0.2423rem + 1.0997vw, 1.5rem);
  text-decoration: none !important;
  transition: color 0.2s linear;

  &:hover {
    color: black !important;
  }
}

button.search-button,
a.cart-button,
button.header-menu-mobile-toggle {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 100%;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 45em) {
    width: 63px;
    height: 63px;
  }
}

:is(button.search-button, a.cart-button, button.header-menu-mobile-toggle) img {
  width: 19px;
}

.hero {
  /*margin-top: 60px;*/
  position: relative;

  @media (min-width: 45em) {
    /*margin-top: 180px;*/
    background-image: url('../assets/images/hero.png');
    background-size: 100%;
    max-width: 1810px;
    aspect-ratio: 181/94;
  }

  overflow: hidden;
  background-image: url('../assets/images/hero-mobile.png');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  background-position: center top;
  text-align: center;
  border-radius: 80px;
  max-width: 300px;
  aspect-ratio: 301/654;
}

.hero h2 {
  margin-top: 1em;
  font-family: 'BROTHER';
  line-height: 1;
  font-size: clamp(4rem, 2.9691rem + 4.3986vw, 8rem);
  margin-bottom: 0;

  @media (min-width: 45em) {
    margin-top: 0.5em;
  }
}

.hero h3 {
  max-width: 10em;
  margin: 0 auto;
  line-height: 1.2;
  font-weight: 500;
  font-size: clamp(1.25rem, 0.9278rem + 1.3746vw, 2.5rem);

  @media (min-width: 45em) {
    max-width: 20em;
  }
}

.hero p {
  font-size: clamp(0.75rem, 0.5567rem + 0.8247vw, 1.5rem);
  max-width: 16.25em;
  margin: 0 auto;
  margin-top: 1.5em;

  @media (min-width: 45em) {
    max-width: 35em;
    margin-top: 0.5em;
  }
}

.hero__link {
  position: absolute;
  left: 50%;
  width: 10em;
  height: 5em;
  transform: translate(-50%);
  top: 55%;

  @media (min-width: 45em) {
    width: 20em;
    height: 10em;
    top: 45%;
  }
}

.collection {
  margin-bottom: 5em;
}

.collection__more {
  font-size: clamp(0.75rem, 0.5567rem + 0.8247vw, 1.5rem);
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.collection__more a {
  color: white;
  background-color: hsla(358, 100%, 78%, 1);
  padding: 1.46em 1.7em;
  border-radius: 100px;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: hsla(358, 100%, 70%, 1);
  }
}

.product {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 1em;
  box-shadow: 0 1px 2px 0 #0000001a;
  font-size: clamp(1rem, 0.1701rem + 2.4742vw, 3rem);
  grid-template-columns: 1fr;

  @media (min-width: 45em) {
    grid-template-columns: auto 1fr;
  }
}

.product-main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: var(--color-dark);
}

.product-main h1 {
  font-weight: 500;
  font-size: clamp(1.5625rem, 1.192rem + 1.5808vw, 3rem);
  margin-bottom: 0;
}

.product-main button {
  border: 3px solid var(--color-dark);
  background: transparent;
  color: var(--color-dark);
  font-weight: 600;
  padding: 1em;
  border-radius: 20px;
  font-size: clamp(1rem, 0.8711rem + 0.5498vw, 1.5rem);
  transition: background 0.1s linear;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.product-image {
}

.product-description p {
  font-size: clamp(0.875rem, 0.7139rem + 0.6873vw, 1.5rem);
}

.product-description h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: clamp(1.125rem, 0.8995rem + 0.9622vw, 2rem);
}

.collections {
  margin-top: 10em;
}

.collection-grid {
  max-width: 1300px;

  @media (min-width: 45em) {
    grid-template-columns: repeat(auto-fit, 290px);
  }
}

.collection-card {
  background: radial-gradient(
      54.24% 54.24% at 52.25% 73.5%,
      #ffffff 0%,
      #ff8d91 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.collection-card__data h4 {
  border-radius: 100px;
  background-color: white;
  margin: 0;
  padding: 1em;
  color: black;
}

.collection-card__image img {
  aspect-ratio: 47 / 77;
  width: 100%;
  border-radius: 20px;
}

.submit-button {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 20px;
  padding: 0.5em 0.8em;
  font-size: 1rem;
}

.header-menu-mobile .header-menu-item {
  font-size: 1.5rem;
}

.giftCard {
  margin-top: 10em;
  margin-bottom: 5em;

  @media (min-width: 45em) {
    margin-bottom: 10em;
  }
}

button.slick-arrow {
  top: 45%;
  width: 63px;
  height: 63px;
  background-color: #ff8d91;
  border-radius: 100%;
  transition: all 0.2s linear;

  &:hover {
    background-color: hsla(358, 100%, 70%, 1);
  }
}

button.slick-prev {
  left: -80px;
}

button.slick-next {
  right: -80px;
}

button:is(.slick-prev, .slick-next)::before {
  opacity: 1;
  position: absolute;
  content: '';
  background-image: url('../assets/images/slider-arrow.svg');
  left: 0;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: 30px;
  background-position: 18px center;
}

button.slick-prev::before {
  transform: rotate(180deg);
}
