.search {
}

.wrapper {
  left: 0;
  width: 100%;
  top: 100%;
  position: absolute;
  background: white;
  box-shadow: 0 10px 20px #00000017;
  border-top: 1px solid #000;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
  height: 125vh;
  overflow-y: scroll;

  @media (max-width: 720px) {
    height: calc(100dvh - 75px);
    overflow: scroll;
  }
}

.opened {
  visibility: visible;
  opacity: 1;
}

div.container {
  margin-top: 3em;
  margin-bottom: 3em;
}

.form {
  background-color: hsla(0, 0%, 23%, 0.1);
  padding: 1em;
  border-radius: 30px;
  position: relative;
  font-size: 0.5rem;

  @media (min-width: 45em) {
    font-size: 1rem;
  }
}

.form::after {
  content: '';
  background: url('../../assets/images/searh.svg');
  width: 2em;
  height: 2em;
  background-size: 2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8%;
}

.form input {
  border: none;
  outline: none;
  padding: 0.5em;
  border-radius: 20px;
  width: 100%;
  font-size: 0.75rem;
  margin: 0;
  padding-right: 3em;

  @media (min-width: 45em) {
    font-size: 1.5rem;
  }
}

.cardContainer {
  padding: 0.5em;
}

.searhGrid {
  display: grid;
  grid-template-columns: repeat(6, min(301px, calc(100% / 6)));
  max-height: 100%;
}

div.grid {
  grid-template-columns: repeat(2, calc(100vw / 2 - 1em - 2px));
  gap: 1em;
}

.close {
  background-color: transparent;
  border: none;
}

.close img {
  width: 2em;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}
