.buyCard {
  text-decoration: none !important;
  transition: transform 0.2s linear;

  &:hover {
    transform: scale(0.95);
  }
}

.buy-card__price {
  font-size: clamp(1rem, 0.8711rem + 0.5498vw, 1.5rem);
  font-size: 1.5rem;
}

.buy-card__image-container img {
  border-radius: 20px;
}

.buyCard img {
  height: auto;
}

.buy-card__title {
  margin-top: 0.8em;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #353535;
}

.small .buy-card__title {
  font-size: 1rem;

  @media (min-width: 45em) {
    font-size: 1.2rem;
  }
}

@media (max-width: 720px) {
  .mobileSmall .buy-card__title {
    font-size: 1rem;
  }
}

.buy-card__image-container {
  font-size: 0;
}

.buy-card__data {
  position: absolute;
  padding: 10px;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.buy-card__button {
  background-color: white;
  width: 100%;

  padding-top: 1.4em;
  padding-bottom: 1.3em;

  border: none;
  border-radius: 100px;

  transition: all 0.2s linear;

  font-weight: 500;
  font-size: clamp(1rem, 0.8711rem + 0.5498vw, 1.5rem);

  display: flex;
  justify-content: center;
  gap: 0.33em;
}

@media (max-width: 750px) {
  .mobileSmall .buy-card__button {
    font-size: 1rem;
  }
}

.small .buy-card__button {
  font-size: 1rem;
}

.buy-card__button:hover {
  background-color: #eeeeee;
}

.buy-card__button:disabled {
  background-color: white;
}

.buy-card__price {
  color: #ff8d91;
}

.buy-card__button span {
  font-size: 1.5rem;
  color: #353535;
}

.small .buy-card__button span {
  font-size: 1rem;
}

@media (max-width: 750px) {
  .mobileSmall .buy-card__button span {
    font-size: 1rem;
  }
}

.buy-card__image-container {
  position: relative;
  border-radius: 20px;
  color: white;

  /* background: radial-gradient( */
  /*   90.11% 90.11% at 53.98% 32.42%, */
  /*   #ffcfd1 0%, */
  /*   #ff8d91 100% */
  /* ); */
  /**/
  background: radial-gradient(
    54.24% 54.24% at 52.25% 73.5%,
    #ffffff 0%,
    #d7c548 100%
  );
}

.buy-card__price {
  font-size: clamp(1rem, 0.8711rem + 0.5498vw, 1.5rem);
  font-size: 1.5rem;
}

.small .buy-card__price {
  font-size: 1rem;
}

@media (max-width: 720px) {
  .mobileSmall .buy-card__price {
    font-size: 1rem;
  }
}

.toCart {
  text-transform: uppercase;
  text-decoration: none !important;
}

.toCart span {
  color: #ff8d91;
  font-size: 1.5rem;
  font-weight: 400;
}
