.cartLink {
  position: relative;
}

.cartLink::after {
  content: attr(data-count);
  position: absolute;
  color: white;
  background: tomato;
  font-size: 0.6rem;
  width: 1.57em;
  height: 1.57em;
  border-radius: 100%;

  font-family: arial, Roboto;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  right: 0;
}

@media screen and (min-width: 720px) {
  .cartLink::after {
    font-size: 1rem;
  }
}

div.bigContainer {
  max-width: 100%;

  @media (min-width: 45em) {
    max-width: 1830px;
  }
}
