.variantCard {
  text-decoration: none !important;
  position: relative;
  font-size: 0;
  transition: transform 0.2s linear;

  &:hover {
    transform: scale(0.95);
  }
}

.main {
  position: absolute;
  width: 100%;
  font-size: 1rem;
  padding: 0.9em 0.7em;
  bottom: 0;
}

.title {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 0.6em;
}

.button {
  background-color: white;
  width: 100%;

  padding-top: 1.4em;
  padding-bottom: 1.4em;

  border: none;
  border-radius: 100px;

  transition: all 0.2s linear;

  font-weight: 500;
  font-size: clamp(1rem, 0.8711rem + 0.5498vw, 1.5rem);
  line-height: 1;

  display: flex;
  justify-content: center;
  gap: 0.33em;
}

.button:hover {
  background-color: #eeeeee;
}

.button:disabled {
  background-color: white;
}

.price {
  color: #ff8d91;
  font-size: 1.5rem;
}

.button span {
  font-size: 1.5rem;
  color: #353535;
}

.toCart {
  text-transform: uppercase;
  text-decoration: none !important;
}

.toCart span {
  color: #ff8d91;
  font-size: 1.5rem;
  font-weight: 400;
}

div.smartButton {
  background-color: hsla(358, 100%, 78%, 1);
  background-color: white;
  border-radius: 100px;
}

.smartButton div div {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.75rem, 0.5567rem + 0.8247vw, 1.5rem);
  line-height: 1;
  align-items: center;
  color: black;
  font-weight: 600;
}

.smartButton form {
}

.smartButton div div button {
  text-align: left;
  border-radius: 100px;
  border: none;
  font-weight: 600;
  background: none;
  color: black;
  font-size: clamp(0.75rem, 0.5567rem + 0.8247vw, 1.5rem);

  padding: 0.8em;
  @media (min-width: 45em) {
    padding: 0.5em;
  }

  transition: background-color 0.1s linear;

  &:hover {
    background-color: hsla(358, 0%, 95%, 1);
  }
}

.smartButton form:last-child button {
  text-align: right;
}

a.link {
  font-size: clamp(1.125rem, 1.0284rem + 0.4124vw, 1.5rem);
  color: white;
  text-align: center;
  background-color: hsla(358, 100%, 78%, 1);
  width: 100%;
  display: block;
  margin-top: 0.5em;
  border-radius: 50px;
  transition: all 0.2s linear;
  text-decoration: none;

  padding: 0.8em;
  @media (min-width: 45em) {
    padding: 0.5em;
  }

  &:hover {
    background-color: hsla(358, 100%, 68%, 1);
  }
}
