.category {
  aspect-ratio: 330/225;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
  background-color: #f5f5f5;
  background-color: #f9b3bd;
  display: block;
  width: 100%;
  position: relative;
  padding: 1.875em 1.5625em;
  text-decoration: none !important;
  transition: transform 0.2s linear;
  border: none;

  &:hover {
    transform: scale(0.9);
  }
}

.category:nth-child(2) {
  background-color: #d8b58d;
}

.category:nth-child(3) {
  background-color: #fdcb6b;
}

.category:nth-child(4) {
  background-color: #297bdf;
}

.category:nth-child(5) {
  background-color: #b6646e;
}

.category:nth-child(6) {
  background-color: #dfb2ad;
}

.category h3 {
  font-size: 1.875rem;
  max-width: 5em;
  color: #353535;
  margin: 0;
  color: white;
}

.category img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 85%;
  width: auto !important;
}
